<!-- Header & Footer contained in template: Templates/Shop.html -->
<!--

    This page uses modules and tags. 
	For a complete list of modules explained please visit
	http://helpx.adobe.com/business-catalyst/kb/modules-quick-reference.html
	
	For a complete list of tags explained please visit
	http://helpx.adobe.com/business-catalyst/kb/tags---quick-reference.html
	
-->

<section class="container">
	<div class="twelve columns">	

		<ul class="breadcrumbs clearfix">
			<li><a href="/shop.html">&larr; Back to Shopping</a></li>
		</ul>

		<h3>Quote Receipt</h3>
		<p>{module_error}</p>
		<p>Thank you for your enquiry. One of our representatives will contact you shortly.</p>
		<p><strong>Order Number</strong>: {tag_orderid}</p>
		
	</div>
</section>

<!-- Header & Footer contained in template: Templates/Shop.html -->