<!-- This page gets included in /Layouts/Blog/overall.html -->
<!--

	This page uses tags. 	
	For a complete list of tags explained please visit
	http://helpx.adobe.com/business-catalyst/kb/tags---quick-reference.html

-->

    <article class="blogpost">
        <header>
            <div class="avatar">
            <div class="overlay"><img alt="" src="/img/small-avatar-overlay.png" width="100" height="100"></div><img src="{tag_blogpostauthorpictureurl}" width="100" height="100" alt="user"></div>

            <h3>{tag_blogposttitle}</h3>
        </header><span class="meta-info">Posted on <strong>{tag_blogpostdate}</strong> by <strong>{tag_blogpostauthor}</strong></span>

        <div class="post-body">
            {tag_blogpostbody}

            <div class="fade-out"></div>
        </div>
        
        <a href="{tag_permalinkonly}" class="read-more"><span>&rarr;</span> read more</a> <a href="{tag_permalinkonly}#comments" class="read-more"><span>&rarr;</span> view comments (<fb:comments-count href="{module_siteurl}{tag_permalinkonly}"></fb:comments-count>)</a>
    </article>

<!-- This page gets included in /Layouts/Blog/overall.html -->