<!-- Header & Footer contained in template: Templates/Default.html -->

<section class="container">
	<div class="twelve columns system-message">
	
		<h3>404 - Page Not Found</h3>
		<p>We could not find the Web Page you requested. This is either because:</p>
		<ul>
			<li>&raquo; The link has been removed or is no longer available.</li>
			<li>&raquo; You have entered the address or link incorrectly.</li>
		</ul>
		<p>
			<a href="/">&larr; Go Back to Homepage</a>	
		</p>	
	</div>
</section>

<!-- Header & Footer contained in template: Templates/Default.html -->