<!-- Header & Footer contained in template: Templates/Default.html -->
<!--

    This page uses modules and tags. 
	For a complete list of modules explained please visit
	http://helpx.adobe.com/business-catalyst/kb/modules-quick-reference.html
	
	For a complete list of tags explained please visit
	http://helpx.adobe.com/business-catalyst/kb/tags---quick-reference.html
	
-->

<section class="container">
	<div class="twelve columns system-message">	

		<ul class="breadcrumbs clearfix">
			<li><a href="/">&larr; Back to Homepage</a></li>
		</ul>

		<h3>Password Reset</h3>

		<p class="error {tag_error}" id="errorMessage">ERROR: An error occurred while resetting your password.</p>

		<p>Please fill in your new password in the form below:</p>

		<form action="{module_secureurl}/ResetPasswordProcess.aspx?Token={tag_token}&Redirect={module_siteurl}" method="post" onsubmit="return checkWholeForm(this)" id="catseczonerpform">
			<div class="form">
				<div class="item">
					<label>New Password</label><br>
					<input class="textbox" type="password" maxlength="255" value="" name="RPPassword" autocomplete="off">
				</div>

				<div class="item">
					<label>Confirm New Password</label><br>
					<input class="textbox" type="password" maxlength="255" value="" name="RPPasswordConfirm" autocomplete="off">
				</div>

				<div class="item">
					<input class="button" type="submit" value="Submit">
				</div>
			</div>
			
			<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
			<script type="text/javascript">
				function checkWholeForm(theForm){
					var why = "";
					why += isEmpty(theForm.RPPassword.value, "New Password");
					why += (theForm.RPPassword.value != theForm.RPPasswordConfirm.value ? "The password and its confirmation don't match" : "");
					if (why != "") { alert(why); return false; }
					theForm.submit(); 
					return false;
				}
			</script>
		</form>
	
	</div>
</section>
	
<!-- Header & Footer contained in template: Templates/Default.html -->