<!-- Header & Footer contained in template: Templates/Default.html -->

<section class="container">
	<div class="twelve columns system-message">	

		<ul class="breadcrumbs clearfix">
			<li><a href="/my-account">&larr; Back to My Account</a></li>
		</ul>

		<h3>Your details have been updated successfully</h3>
		<p>Your details have been updated successfully. If you updated your username and/or password please ensure you use the new details in the future.</p>
		
	</div>
</section>

<!-- Header & Footer contained in template: Templates/Default.html -->