<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Universalis</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald|Open+Sans:400italic,600italic,700italic,400,700,600">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">


	<!-- JS
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/js/slider.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script>
		$(document).ready(function(){
			
			// Code for Mobile Menu, shows up on small screen resolutions
			$('.expand-menu').click(function(e){
				e.preventDefault();
				$(this).toggleClass('open');
				if($('nav.small.top ul').is(':hidden')){
					$('header nav.small ul').slideDown();
				}else{
					$('header nav.small ul').slideUp();
				}
				
			});
			// --
			
			// Script to init slider. You can edit it from "/js/slider.js"
			$('.slider').startSlider();
			// --				
			
    		var logout = '{module_logout}';
			if(logout !== '')
			{
				$('nav.top.small ul').append('<li>{module_logout}</li>');
				$('nav.top.main ul').append('<li>{module_logout}</li>');
			}
			
		});
	</script>

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<nav class="small top">

		<form name="catsearchform24316" method="post" action="/Default.aspx?SiteSearchID=2465&PageID=9154318">
			<div class="search-box">
				<input type="text" name="CAT_Search" id="CAT_Search" />
				<input class="cat_button" type="submit" value="Search" />
			</div>
		</form>
		
		<a href="#" class="expand-menu"></a>
		<div class="clear"></div>
		{module_menu,1337216}
	</nav>

	<section class="container">
		
		<div class="eight columns">
			<nav class="main top">
				{module_menu,1336130}
			</nav>
		</div>
		<div class="four columns">
			<form name="catsearchform24316" method="post" action="/Default.aspx?SiteSearchID=2465&PageID=9154318" class="big-search">
				<div class="search-box">
					<input type="text" name="CAT_Search" id="CAT_Search" />
					<input class="cat_button" type="submit" value="Search" />
				</div>
			</form>
		</div>

	</section><!-- end .container -->

	<header class="main">
		<div class="container">
			<div class="twelve columns">				
				<h2>Universalis</h2>
				<h3>The only template you need to quickly get started with Business Catalyst.</h3>
			</div>
		</div>
	</header><!-- end .main -->
	
	{tag_pagecontent}
	
	<footer>
		<div class="container">
			<hr>
			<div class="nine columns">
				<nav>
					{module_menu,1336130}
				</nav>
			</div>
			<div class="three columns">
				Powered by <a href="http://www.businesscatalyst.com" class="powered">Business Catalyst</a>
			</div>
		</div>
	</footer>

	<!-- Script for retina images -->
	<script type="text/javascript" src="/js/retina.js"></script>
	
<!-- End Document
================================================== -->
</body>
</html>